.overlay-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000cc;
}

.overlay-screen-button-group {
  width: 250px;
  margin: 25vw auto;
}

.overlay-screen-button {
  height: 50px;
  margin: 10px 0;
  background-color: #00000099;
  padding: 10px 15px 0;
  pointer-events: all;
}

.inactive {
  color: #999;
  background-color: #66666699;
  pointer-events: none;
}

.overlay-screen-button:hover {
  background-color: #ff000099;
}

.overlay-screen-button:active {
  background-color: #ff0000dd;
}