.overlay-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000cc;
}

.overlay-screen-button-group {
  width: 240px;
  margin: 25vw auto;
}

.overlay-screen-button {
  height: 50px;
  margin: 10px 0;
  background-color: #00000099;
  padding: 10px 15px 0;
}

.inactive {
  color: #999;
  background-color: #66666699;
  pointer-events: none;
}

.overlay-screen-button:hover {
  background-color: #ff000099;
}

.overlay-screen-button:active {
  background-color: #ff0000dd;
}

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}